# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock
# (DO NOT IGNORE)
# .terraform.lock.hcl

# Variables sensibles
*.tfvars
!terraform.tfvars
!terraform.tfvars.example

# Secrets
*.pem
*.key

# Logs
*.log

# Editor
.vscode/
.DS_Store
Thumbs.db

terraform.exe*